
---
import { type CollectionEntry, getCollection } from 'astro:content';
import Logo from '../../components/Logo.astro';
import Layout from '../../components/Layout.astro';
import { Icon } from 'astro-icon/components';


export async function getStaticPaths() {
  const talks = await getCollection('talk');
  return talks.map((talk) => ({
    params: { slug: talk.slug },
    props: talk,
  }));
  }
type Props = CollectionEntry<'talk'>;

const _talk = Astro.props;
const talk = _talk.data;
console.log(talk);
---

<Layout title={`${talk.title} ${talk.subtitle}`} description={talk.description} image={talk.heroImage.src}
        keywords={talk.keywords}>
  <h1 class='text-center mt-4 '>Thanks a Lot for Attending My Talk @ {talk.conf}</h1>
  <div class='pb-0 flex flex-col items-center'>
    <div class='w-full flex justify-center items-center flex-col mb-4'>
      <a href={`${talk.url}`} class='card w-full text-center mb-4'>Slides</a>
      {talk.codeUrl != null && <a href={`${talk.codeUrl}`} class='card w-full text-center'>Code Examples</a>}
      {talk.links && talk.links.length > 0 && talk.links.map(link => <a href={`${link.url}`} class='card w-full text-center'>{ link.label }</a>)}
    </div>
    <h2>Let's Stay in Touch</h2>
    <div class='w-full flex justify-center items-center flex-col mb-4'>
      <a href="https://bsky.app/profile/wordman.dev"  class='card w-full text-center mb-4'>BlueSky</a>
      <a href='https://www.linkedin.com/in/jan-niklas-wortmann/' class='card w-full text-center mb-4'>LinkedIn</a>
      <a href='https://github.com/niklas-wortmann' class='card w-full text-center'>GitHub</a>
    </div>
    <Logo/>
  </div>
</Layout>
